//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 11 16:47:05 2019
//! **************************************************************************

SCHEMATIC START;
COMP "lcd7" LOCATE = SITE "M15" LEVEL 1;
COMP "lcd_rw" LOCATE = SITE "L17" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "minpos<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "minpos<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "slide<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "slide<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "slide<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "lcd_e" LOCATE = SITE "M18" LEVEL 1;
COMP "PB1" LOCATE = SITE "K17" LEVEL 1;
PIN PB1_pin<0> = BEL "PB1" PINNAME PAD;
PIN "PB1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "lcd4" LOCATE = SITE "R15" LEVEL 1;
COMP "PB2" LOCATE = SITE "D18" LEVEL 1;
PIN PB2_pin<0> = BEL "PB2" PINNAME PAD;
PIN "PB2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "lcd_rs" LOCATE = SITE "L18" LEVEL 1;
COMP "lcd5" LOCATE = SITE "R16" LEVEL 1;
COMP "PB3" LOCATE = SITE "V4" LEVEL 1;
PIN PB3_pin<0> = BEL "PB3" PINNAME PAD;
PIN "PB3_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "lcd6" LOCATE = SITE "P17" LEVEL 1;
COMP "PB4" LOCATE = SITE "H13" LEVEL 1;
PIN PB4_pin<0> = BEL "PB4" PINNAME PAD;
PIN "PB4_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PB4_BUFGP/IBUFG" BEL "PB4_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "PB1_BUFGP/IBUFG" BEL "PB1_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "PB2_BUFGP/IBUFG" BEL "PB2_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "PB3_BUFGP/IBUFG" BEL "PB3_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

