

NET "state[3]" LOC = F11;
NET "state[2]" LOC = E11;
NET "state[1]" LOC = E12;
NET "state[0]" LOC = F12;
NET "Y[1]" LOC = L14;
NET "Y[0]" LOC = L13;
NET "clk" LOC = C9;


NET "state[3]" IOSTANDARD = LVTTL;
NET "state[2]" IOSTANDARD = LVTTL;
NET "state[1]" IOSTANDARD = LVTTL;
NET "state[0]" IOSTANDARD = LVTTL;
NET "Y[1]" IOSTANDARD = LVTTL;
NET "Y[0]" IOSTANDARD = LVTTL;
NET "clk" IOSTANDARD = LVCMOS33;
NET "state[3]" DRIVE = 8;
NET "state[2]" DRIVE = 8;
NET "state[1]" DRIVE = 8;
NET "state[0]" DRIVE = 8;
NET "clk" PERIOD = 20 ns HIGH 50 %;

# PlanAhead Generated IO constraints 

NET "Y[1]" PULLUP;
NET "Y[0]" PULLUP;
