//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 04 16:01:15 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "state<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "state<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "state<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "state<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "L13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

