//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 04 15:21:32 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "Y<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "Y<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "ROT_A" LOCATE = SITE "K18" LEVEL 1;
COMP "ROT_B" LOCATE = SITE "G18" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "carry" LOCATE = SITE "F9" LEVEL 1;
COMP "sum<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "sum<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "sum<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "sum<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "sum<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "sum<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "sum<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "L13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

