

NET "sum[6]" LOC = E9;
NET "sum[5]" LOC = D11;
NET "sum[4]" LOC = C11;
NET "sum[3]" LOC = F11;
NET "sum[2]" LOC = E11;
NET "sum[1]" LOC = E12;
NET "sum[0]" LOC = F12;
NET "Y[3]" LOC = N17;
NET "Y[2]" LOC = H18;
NET "Y[1]" LOC = L14;
NET "Y[0]" LOC = L13;
NET "carry" LOC = F9;
NET "clk" LOC = C9;
NET "ROT_A" LOC = K18;
NET "ROT_B" LOC = G18;


NET "sum[6]" IOSTANDARD = LVTTL;
NET "sum[5]" IOSTANDARD = LVTTL;
NET "sum[4]" IOSTANDARD = LVTTL;
NET "sum[3]" IOSTANDARD = LVTTL;
NET "sum[2]" IOSTANDARD = LVTTL;
NET "sum[1]" IOSTANDARD = LVTTL;
NET "sum[0]" IOSTANDARD = LVTTL;
NET "sum[6]" DRIVE = 8;
NET "sum[5]" DRIVE = 8;
NET "sum[4]" DRIVE = 8;
NET "sum[3]" DRIVE = 8;
NET "sum[2]" DRIVE = 8;
NET "sum[1]" DRIVE = 8;
NET "sum[0]" DRIVE = 8;
NET "Y[3]" IOSTANDARD = LVTTL;
NET "Y[2]" IOSTANDARD = LVTTL;
NET "Y[1]" IOSTANDARD = LVTTL;
NET "Y[0]" IOSTANDARD = LVTTL;
NET "Y[3]" PULLUP;
NET "Y[2]" PULLUP;
NET "Y[1]" PULLUP;
NET "Y[0]" PULLUP;
NET "carry" DRIVE = 8;
NET "carry" IOSTANDARD = LVTTL;
NET "clk" IOSTANDARD = LVCMOS33;
NET "ROT_A" IOSTANDARD = LVTTL;
NET "ROT_B" IOSTANDARD = LVTTL;
NET "ROT_A" PULLUP;
NET "ROT_B" PULLUP;
NET "clk" PERIOD = 20 ns HIGH 50 %;
